.blue {
  color: rgba(74, 118, 149, 1);
}

.orange {
  color: rgba(201, 119, 48, 1);
}

.purple {
  color: rgba(135, 132, 184, 1);
}

.green {
  color: rgba(106, 135, 89, 1);
}

.crimson {
  color: rgba(178, 0, 178, 1);
}

.pink {
  color: rgba(143, 84, 125, 1);
}

.searchEnter {
  display: flex;
  gap: 20px;
}

.search {
  display: flex;
  gap: 5px;
}
main {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.captionMain {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}

.captionMain h1 {
  font-size: 28px;
  font-weight: 600;
}

.blockDesc {
  background-color: rgba(78, 78, 78, 1);
  border-radius: 7px;
  padding: 40px 0;
  text-align: center;
  font-weight: 400;
  line-height: 21.78px;
  font-size: 18px;
  margin-bottom: 60px;
}

.coursesBlocks {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 69px;
}

.courseBlock {
  width: 30%;
  padding: 25px;
  background-color: rgba(78, 78, 78, 1);
  border-radius: 7px;
  text-align: left;
}

.courseBlock h3 {
  font-size: 28px;
  font-weight: 600;
}

.courseDesc {
  height: 150px;
  width: 375px;
  border-radius: 7px;
  border: 1px rgba(224, 224, 224, 1) solid;
  margin-bottom: 20px;
  padding: 0 10px;
  color: rgba(224, 224, 224, 1);
  display: flex;
  align-items: center;
}

footer {
  margin: 60px auto;
  background-image: url("../assets/footer.svg");
  width: 1390px;
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #000000;
}

footer h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  padding: 25px;
}
.wrapper {
  display: none;
}

.noactive {
  display: none;
}

.active {
  display: block;
}

.signInForm {
  width: 705px;
  height: 713px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(47, 47, 47, 1);
  margin-top: 130px;
  margin-bottom: 321px;
  padding: 104px 92px;
  display: flex;
  flex-direction: column;
  gap: 114px;
  align-items: center;
}

.signInForm h1 {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inputBtn_signInForm input {
  width: 520px;
  height: 60px;
  border-radius: 7px;
  background: #e2e2e2;
  padding: 21px 15px;
  color: #4e4e4e;
}

.inputBtn_signInForm button {
  width: 520px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #4e4e4e;
}

.inputBtn_signInForm {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
